---
import awardsImage from "@assets/photos/awards.jpg";
import teamImage from "@assets/photos/team-2020.jpg";
import AboutTimelineItem from "@components/AboutTimelineItem.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="About | EMU Robotics">
  <!-- GENERAL SECTION -->
  <section
    class="mt-10 flex flex-col items-center gap-3 px-5 md:px-0 md:max-w-[50%] mx-auto text-center fade-in-up"
  >
    <h1 class="font-bold text-4xl">About EMU Robotics</h1>
    <h3 class="text-xl">
      We are a team of students who compete in FIRST competitions and we have a
      group of mentors who help us along the way with building robots.
    </h3>
    <Image src={teamImage} format="webp" alt="team photo" />
  </section>

  <!-- TIMELINE SECTION -->
  <section
    class="mt-6 flex flex-col items-center gap-3 px-5 md:px-0 md:max-w-[50%] mx-auto text-center"
  >
    <h1 class="font-bold text-4xl fade-in-up">Our History</h1>
    <div
      class="border-l-2 border-dotted border-gray-80 dark:border-gray-20 pl-3 w-full flex flex-col gap-3"
    >
      <AboutTimelineItem time="2012" title="Founded">
        Our first meeting was in December 2012 and at that time there were only
        4 mentors and 8 students.
      </AboutTimelineItem>
      <AboutTimelineItem time="2013" title="First Comp">
        2013 was our training year with us participating in Duel Down Under, our
        local off season event. It was our first competition where our robot was
        made out of MDF and dubbed our 'cardboard robot'.
      </AboutTimelineItem>
      <AboutTimelineItem time="2015" title="First Regional">
        2015 was our first regional event. This is when the FIRST FRC
        competition truly came to Australia, allowing local teams to compete in
        an international competition without leaving Australia!
      </AboutTimelineItem>
      <AboutTimelineItem time="2016" title="First FRC Award">
        2016 was our first big year as we won the Judges award in FRC due to our
        grappling hook. We also won the Motivate award in 2016.
      </AboutTimelineItem>
      <AboutTimelineItem time="2016" title="Mini-bot">
        In 2016, we created our own mini-bot to use as a robotics teaching tool.
      </AboutTimelineItem>
      <AboutTimelineItem time="2016" title="GERRIC courses">
        July 2016, we hosted our first GERRIC courses. Working with year 5 and 6
        students teaching them about robotics (CAD, electrical, mechanical and
        coding). We also hosted a library course for early-highschool students
        interested in robotics.
      </AboutTimelineItem>
      <AboutTimelineItem time="2017" title="Team Growth">
        In 2017, we grew from 6 students in 2012 to over 20 students.
      </AboutTimelineItem>
      <AboutTimelineItem time="2018" title="Gracious Professionalism">
        In 2018, we won the Gracious Professionalism award at DDU as we helped
        other teams.
      </AboutTimelineItem>
      <AboutTimelineItem time="2019" title="Junior Team Formed">
        April 2019, responding to the need for a robotics program for late
        primary/early high school students we started an FLL team with 20
        students joining in the first meeting.
      </AboutTimelineItem>
      <AboutTimelineItem time="2019" title="Junior Team Demonstration">
        July 2019, our FLL team participated in a demonstration, receiving the
        Synergy award.
      </AboutTimelineItem>
      <AboutTimelineItem time="2019" title="First FLL Comp">
        November 2019, our two FLL teams came second and fourth in the first
        regional competition.
      </AboutTimelineItem>
      <AboutTimelineItem time="2019" title="More Team Growth">
        During 2019, the senior FRC team had grown to almost 40 students and 10
        mentors.
      </AboutTimelineItem>
      <AboutTimelineItem time="2020" title="Robotics Workshops">
        January 2020, we held robotics workshop for high school students.
      </AboutTimelineItem>
      <AboutTimelineItem time="2020" title="COVID">
        Unable to meet in person we went online. We concentrated on robotics
        based on the LEGO EV3 kits with the aim of participating in the FIRST
        FLL competition that year.
      </AboutTimelineItem>
      <AboutTimelineItem time="2020" title="FLL Champions">
        Our FLL competition was in person. Our team were Regional Champions and
        progressed to Nationals which was held virtually.
      </AboutTimelineItem>
      <AboutTimelineItem time="2021" title="FLL APOC Participation">
        We again ran a virtual FLL team grabbing in person sessions whenever it
        was possible. For a second year, our team progressed to Nationals. June
        2021, wildcard entry into APOC (Australia Pacific Open Championship)
        winning the Motivate award.
      </AboutTimelineItem>
      <AboutTimelineItem time="2022" title="Returning to FRC">
        Return to FRC competition with our robot being built on the front porch
        of a team member.
      </AboutTimelineItem>
      <AboutTimelineItem time="2022" title="Returning to the lab">
        April 2022, the journey to rebuild both junior and senior teams begins.
      </AboutTimelineItem>
      <AboutTimelineItem time="2022" title="Victory at DDU">
        May 2022, our team, along with our alliance partners, won DDU.
      </AboutTimelineItem>
      <AboutTimelineItem time="2023" title="Open Night">
        May 2023, saw about 60 students plus parents visit us. Many students
        joined. This was also the start of our EMU Chicks team for 7 to 10 year
        olds.
      </AboutTimelineItem>
      <AboutTimelineItem time="2023" title="Current Student Numbers">
        Over all three teams, we currently have 45 students and growing.
      </AboutTimelineItem>
    </div>
  </section>

  <!-- AWARDS SECTION -->
  <section
    class="p-5 flex flex-col items-center gap-3 px-5 md:px-0 md:max-w-[50%] mx-auto text-center fade-in-up"
  >
    <h1 class="font-bold text-3xl">Awards</h1>
    <Image src={awardsImage} format="webp" alt="awards" />
  </section>
</Layout>
