---
import Socials from "@components/Socials.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact | EMU Robotics">
  <div
    class="flex h-96 flex-col place-content-center items-center gap-3 px-5 text-center"
  >
    <p class="rounded-full bg-red-100 p-5 font-bold text-white">
      Want to join? <a
        href="/join"
        class="underline underline-offset-1 transition ease-out hover:text-red-200"
        >Click here!</a
      >
    </p>
    <h1 class="text-4xl font-bold">Contact Us</h1>
    <h3 class="text-gray-40 dark:text-gray-70 text-xl">
      We'll get back to you as soon as possible.
    </h3>
    <p>
      Email: <a
        href="mailto:unswfrc@gmail.com"
        class="hover:text-gray-40 underline underline-offset-1 transition ease-out"
        >unswfrc@gmail.com</a
      >
    </p>
    <div class="flex gap-3 text-2xl">
      <Socials />
    </div>
  </div>
</Layout>
