---
import PrimaryButton from "../components/PrimaryButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join | EMU Robotics">
  <div
    class="px-5 flex flex-col grow items-center justify-center text-center gap-3"
  >
    <h1 class="font-bold text-4xl">Join The Team</h1>
    <h3 class="text-gray-40 dark:text-gray-70 text-xl">
      We are always looking for students, no experience required! You will be
      contacted as soon as possible.
    </h3>
    <PrimaryButton
      href="https://docs.google.com/forms/d/e/1FAIpQLScBhvFmN4Wd9UD1oJxSmIoadXebrb8_LSsQb7BBmxyywhjkrQ/viewform?usp=sf_link"
    >
      Fill out the form!
    </PrimaryButton>
  </div>
</Layout>
