---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join | EMU 4729">
  <div class="mt-10 px-5 flex flex-col items-center text-center gap-3">
    <h1 class="font-bold text-3xl">Join The Team</h1>
    <h3 class="text-gray-40 text-xl">
      We're looking for students in the UNSW area. No experience required. You
      will be contacted later.
    </h3>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdtzT8cByEPuIhwBSi10nmsDBUM1n1QshxvoX5M6FWQpfytbA/viewform?embedded=true"
      height="900"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      class="w-full">Loading...</iframe
    >
  </div>
</Layout>
