---
import { Image } from "@astrojs/image/components";
import raLogo from "../assets/branding/rockwell.svg";
import unswEetLogo from "../assets/branding/unsweet.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sponsors | EMU 4729">
  <div
    class="p-5 flex flex-col items-center place-content-center text-center gap-3"
  >
    <p class="p-5 rounded-full border-2 border-red-100 text-red-100 font-bold">
      Want to sponsor us? <a
        href="mailto:unswfrc@gmail.com"
        class="transition ease-out hover:text-red-50 underline underline-offset-1"
        >Send us an email!</a
      >
    </p>
    <h1 class="font-bold text-4xl">Sponsors</h1>
    <h3 class="text-xl text-gray-40 dark:text-gray-70">
      We receive vital support from our sponsors, the UNSW School of Electrical
      Engineering and Telecommunications and Rockwell Automation.
    </h3>
    <a
      href="https://www.unsw.edu.au/engineering/our-schools/electrical-engineering-telecommunications"
    >
      <Image
        alt="UNSW School of Electrical Engineering and Telecommunications Logo"
        src={unswEetLogo}
        height={150}
      />
    </a>
    <a href="https://www.rockwellautomation.com/">
      <Image alt="Rockwell Automation Logo" src={raLogo} height={150} />
    </a>
  </div>
</Layout>
