---
import Socials from "../components/Socials.astro";
---

<footer
  class="mt-auto p-5 bg-gray-90 dark:bg-gray-20 text-gray-40 dark:text-gray-60 flex flex-col items-center gap-2"
>
  <p>&copy; Experimental Mayhem Unit 2023</p>
  <div class="flex gap-2 text-lg">
    <!-- fb, twitter, yt, insta, github -->
    <Socials includeEmail />
  </div>
</footer>
