---
import FooterSocial from "./FooterSocial.astro";
---

<footer class="p-5 bg-gray-90 text-gray-40 flex flex-col items-center gap-2">
  <p>&copy; Experimental Mayhem Unit 2022</p>
  <p>Sponsored by <a href="https://www.unsw.edu.au" class="transition ease-out text-gray-20 hover:text-red-100">UNSW</a>
  </p>
  <div class="flex gap-2 text-lg">
    <!-- fb, twitter, yt, insta, github -->
    <FooterSocial href="mailto:unswfrc@gmail.com" icon="fa fa-envelope" />
    <FooterSocial href="https://www.facebook.com/UNSW-Experimental-Mayhem-Unit-4729-276775795795106/"
      icon="fa-brands fa-facebook" />
    <FooterSocial href="https://twitter.com/emu4729" icon="fa-brands fa-twitter" />
    <FooterSocial href="https://www.youtube.com/channel/UCdDO4B2-yXo0001waWUc0xw" icon="fa-brands fa-youtube" />
    <FooterSocial href="https://www.instagram.com/emu4729/" icon="fa-brands fa-instagram" />
    <FooterSocial href="https://github.com/emu4729" icon="fa-brands fa-github" />
  </div>
</footer>