---
import Socials from "@components/Socials.astro";

const year = new Date().getFullYear();
---

<footer
  class="bg-gray-90 dark:bg-gray-20 text-gray-40 dark:text-gray-60 mt-auto flex flex-col items-center gap-2 p-5"
>
  <p>&copy; Experimental Mayhem Unit {year}</p>
  <div class="flex gap-2 text-lg">
    <!-- fb, twitter, yt, insta, github -->
    <Socials includeEmail />
  </div>
</footer>
