---
import { Image } from "@astrojs/image/components";

export interface Props {
  year: string;
  image: string;
}

const { year, image } = Astro.props as Props;
---

<a
  class="border-[1px] border-gray-70 rounded-lg flex flex-col md:flex-row self-center min-h-56 max-w-4xl fade-in-up transition ease-out hover:translate-x-[5px] bg"
  href={`/gallery/${year}`}
>
  <div class="p-5 flex gap-1">
    <h3 class="font-bold text-2xl">
      <i class="fa fa-arrow-right text-gray-40"></i>
      {year} Photos
    </h3>
  </div>
  <Image
    src={import(image)}
    format="webp"
    alt={`${year} photo`}
    class="rounded-lg object-cover h-52"
  />
</a>
