---
import { Image } from "astro:assets";
import logo from "@assets/branding/logo-red.png";
import NavButton from "@components/NavButton.astro";
import NavLink from "@components/NavLink.astro";
import ColorModeToggle from "@components/ColorModeToggle.astro";
---

<nav
  class="dark:bg-gray-10 sticky top-0 z-999 flex items-center bg-white px-8 py-5 text-red-100 transition-colors ease-out"
>
  <a href="/"
    ><Image
      src={logo}
      alt="emu logo"
      format="webp"
      height={50}
      class="transition-transform ease-out hover:-translate-y-[2px]"
    />
  </a>

  <div class="grow"></div>

  <label>
    <input type="checkbox" id="hamburger" class="hidden" />
    <a class="z-0 md:hidden" rel="nofollow" role="button">
      <i class="fa-solid fa-bars"></i>
    </a>
  </label>

  <div
    id="links"
    class="dark:bg-gray-10 absolute top-[5.5rem] left-0 hidden w-full items-center gap-5 bg-white px-3 pb-3 duration-150 ease-out md:static md:flex md:w-auto md:px-0 md:pb-0"
  >
    <NavLink href="/">Home</NavLink>
    <!--<NavLink href="/sponsors">Sponsors</NavLink>-->
    <NavLink href="/about">About</NavLink>
    <!-- Uncomment the following line when we actually have stuff to write about -->
    <!-- <NavLink href="/blog">Blog</NavLink> -->
    <NavLink href="/contact">Contact</NavLink>
    <NavButton href="/join">Join</NavButton>
    <ColorModeToggle />
  </div>
</nav>

<script>
  const hamburger = document.getElementById("hamburger");
  const links = document.getElementById("links");

  hamburger.onclick = () => links.classList.toggle("hidden");
</script>
