---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<a
  href={href}
  class="hover:text-red-60 dark:hover:text-red-140 block py-1 transition ease-out hover:-translate-y-[2px] md:inline md:py-0"
>
  <slot />
</a>
