---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<a
  class="w-fit rounded-lg border-2 border-red-100 bg-white px-4 py-3 text-red-100 transition ease-out hover:-translate-y-[2px] hover:bg-red-200"
  href={href}
>
  <slot />
</a>
