---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<a
  class="transition ease-out w-fit border-2 border-red-100 bg-white hover:bg-red-200 text-red-100 px-4 py-3 rounded-lg hover:-translate-y-[2px]"
  href={href}
>
  <slot />
</a>
